
<h1>About</h1>
<div class="center">
  <h4>Created with
    <a href="http://rubyonrails.org/">Ruby on Rails</a> by
    <a href="https://olehsliusar.com">Oleh Sliusar</a>
  </h4>

  <h4>View the project on <a href="">GitHub</a></h4>

  <p>
    Do you have any ideas or suggestions?
    I can be reached by email at
    <a href="mailto:oleh@olehsliusar.com">oleh@olehsliusar.com</a>
  </p>
</div>