
<h1>About</h1>
<h3>Created with
  <a href="http://rubyonrails.org/">Ruby on Rails</a> by
  <a href="https://olehsliusar.com">Oleh Sliusar</a>
</h3>

<h3>
  Do you have any ideas or suggestions?
  I can be reached by email at
  <a href="mailto:oleh@olehsliusar.com">oleh@olehsliusar.com</a>
</h3>
