<p id="notice"><%= notice %></p>

<h1>Microposts</h1>

<% if logged_in? %>
  <%= render 'form', micropost: @micropost %>
<% end %>

<% @microposts ||= [] %>

<% if @microposts.any? %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
<% else %>
  <h3>No microposts.</h3>
<% end %>
