<header class="navbar navbar-fixed-top">
  <div class="container logo" >
    <%= link_to "Toy Blogpost", '/' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "Users",   '/users' %></li>
        <li><%= link_to "About",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
